* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

html {
  font-size: 125%; /* 20px */
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}

label {
  display: block;
}
input {
  display: block;
  width: 100%;
}
button {
  padding: 0.333rem 0.5rem;
  background-color: orange;
  border: none;
}
button.small {
  font-size: 0.75rem;
  padding: 0.25rem 0.333rem;
}

.mb-1 { margin-bottom: 0.25rem }
.mb-2 { margin-bottom: 0.5rem }
.mb-3 { margin-bottom: 1rem }
.ml-1 { margin-left: 0.25rem }
.ml-2 { margin-left: 0.5rem }
.ml-3 { margin-left: 1rem }
.mr-1 { margin-right: 0.25rem }
.mr-2 { margin-right: 0.5rem }
.mr-3 { margin-right: 1rem }